@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');


html {
    scroll-behavior: smooth;
}

.apartment {
    margin-bottom: 2rem;
    color: #373434;
    min-height: calc(100% - 40px)

}
.apartment__name {
    line-height: 0.80;
    padding: 15px;
    font-family: 'Marmelad', sans-serif;
    border-radius: 15px;
    font-weight: 700;
    text-align: left;
    color: var(--First-Color);
    font-size: 3rem;
    text-align: center;
    padding: 15px 0px;
   
}
.apartment p {
    width: 80%;
    font-size: 1.2rem;
}

.room__container {
  
    color: rgb(255, 9, 9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0px;
}

@media (min-width: 769px) {
    .room__container {
        height: 100vh;
    }
}
.room__container:nth-of-type(odd) {
    background-color: rgb(232,218,218);
  
}
.room__container:nth-of-type(even) {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
   
}

.room__container--images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 90%;
    
    
}

@media ( min-width: 769px) {
    .room__container--images {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
           
            

    }
}

.images__container {
    
    flex-basis: 400px; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.images__container img {

    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
    cursor: pointer;
   

}

@media ( min-width: 769px) {
    .images__container img {
        height: auto;
        object-fit: cover;

        
    }
}