html {
    scroll-behavior: smooth;
}
.apartment {
    margin-bottom: 2rem;
}
.apartment .para {
    color: blue;
}
.apartment_Container {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    
}
.apartment_Container a {
    color: black;
    font-size: 2rem;
    cursor: pointer;
    transition: all ease-in-out .2s;
    border-bottom: none;
}
.apartment_Container a:hover {
    border-bottom: 1px solid var(--Second-Color);
}	

@media (min-width: 769px) {
    .apartment .room__container {
    height: 100vh;
    color: rgb(255, 9, 9);
}
}

.apartment .room__container p {
    color: rgb(255, 9, 9);
    text-align: center;
}
.room_container-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-items: center;
    
    
}

@media ( min-width: 769px) {
    .room_container-images {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
           
            

    }
}

.images_container {
    
      flex-basis: 350px; 
    width: 350px;

}
/* @media ( min-width: 769px) {
    .images-container {
        width: auto;
        flex-basis: 0; 
    }
} */

.images_container img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

@media ( min-width: 769px) {
    .images_container img {
        height: 30rem;
        object-fit: cover;

        
    }
}