
  .media__scroller {
    --_spacer: var(--size-3);
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: row;
    grid-auto-columns: 100%;

    padding: 0 var(--_spacer) var(--_spacer);

    overflow-x: auto;
    overscroll-behavior-inline: contain;
    width: 90%;
    margin: 0 auto;
    
  }
  .media__scroller::-webkit-scrollbar {
    width: 15px;
   
  }
  .media__scroller::-webkit-scrollbar-track { 
    background-color: rgba(169, 169, 169, 0.397);
  }
  .media__scroller::-webkit-scrollbar-thumb {
    background-color: var(--Second-Color);
    cursor: pointer;
  }
  @media (min-width: 769px) {
    .media__scroller {
      grid-auto-columns: 15%;
      grid-auto-flow: column;
    }
  }

  .media__scroller--with-groups {
    grid-auto-columns: 80%;
  }

  .media__group {
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
  }

  .media__Element {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--_spacer);
    padding: var(--_spacer);
    background: var(--surface-2);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    cursor: pointer;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    
  }


  .media__Image {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    position: relative;
  }

  .snaps__Inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
  }

  .snaps__Inline > * {
    scroll-snap-align: start;
  }

  .overlay__Image {
    width: 80%;
    height: auto;
  }

  @media (min-width: 769px) {
    .overlay__Image {
      width: calc(90vw - 500px );
      height: auto;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      border-radius: 15px;
    }

  
  }
