@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    min-height: calc(70vh - 40px);
    padding: 5rem 0rem;
   
}
.container {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    border-radius: 25px;
    padding: 15px;
    
}
.span {
    font-family: 'Marmelad', sans-serif;
    background-color: var(--First-Color);
    padding: 15px;
    border-radius: 15px;
    
}
span {
    color: rgb(226, 213, 213);
}