
        .apartment {
            width: 100%;
            height: 100%;
            margin: 0 auto;
           
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #eeeeee;
            box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
            border-top: 1px solid #bebebe;
        }       
        .apartment h1 {
           font-size: 2rem;
           margin-top: 2rem;
           color: var(--Second-Color);
        }
        @media (min-width: 769px) {
            .apartment h1 {
                font-size: 2.3rem;
            }
        }
        .apartment span {
            color: var(--First-Color);
          
           
        }
        .apartment span:first-child{
            display: block;
            font-weigth: 800;
            
        }
        .apartment p {
            color: #373434;
            font-size: 1.3rem;
            text-align: center;
            font-weight: 100;
            width: 90%;
            margin: 0 auto;
            padding: 15px 5px;
        }

        @media (min-width: 769px) {
            .apartment p {
                font-size: 1.3rem;
            }
        }
        .apartment .massage {
            padding: 2rem;
            height: auto;
            background-color: rgb(232,218,218);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 45px;

        }

        .apartment .massage a,
        .apartment .massage span {
            text-decoration: none;
            color: var(--First-Color);
            filter: contrast(45%);
            font-size: 1.5rem;
            font-family: 'Alata', sans-serif;
            display: inline;
            

            
        }
