
        .appartment {
            width: 100%;
            height: 100%;
            margin: 0 auto;
           
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #eeeeee;
        }
        .appartment h1 {
           font-size: 2rem;
           margin-top: 2rem;
           color: var(--Second-Color);
        }
        @media (min-width: 769px) {
            .appartment h1 {
                font-size: 2.3rem;
            }
        }
        .appartment span {
            color: var(--First-Color);
           
        }
        .appartment p {
            color: #373434;
            font-size: 1.3rem;
            text-align: center;
            font-weight: 100;
            width: 90%;
            margin: 0 auto;
            padding: 15px 5px;
        }

        @media (min-width: 769px) {
            .appartment p {
                font-size: 1.3rem;
            }
        }
        .appartment .massage {
            padding: 2rem;

        }
        .appartment .massage a,
        .appartment .massage span {
            text-decoration: none;
            color: var(--First-Color);
            font-size: 1.5rem;
            font-family: 'Alata', sans-serif;

            
        }
