@import url('https://fonts.cdnfonts.com/css/neuropol-2');

:root {

    --First-Color: #b13a3a;
    --Second-Color: #FC6D6D;
    --Third-Color:#631717;

    --Fouth-Color: #0D6325;
    --Fith-Color: #30B05B;

    --Para-Color : rgb(52, 46, 46);
}



html {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: inherit;
}
body {
    scroll-behavior: smooth;
    background-color: rgb(248, 244, 244);

}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-left: 0px;
  margin-right: 0px;
 
  color: #21050d;
  height: 50px;
  padding: 5em;
  width: 100%;

  

}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #21050d;
  text-align: center;
}
.footer, .header {
  background: url(./bg-body.png) center center  ;
}
.footer-size {
  padding: 3em;
  height: 30px;
}


@media (min-width: 769px) {
  .header {
     
      justify-content: space-between;
  }
}

.heading, h1, h2, h3{
    font-family: 'Advent Pro', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: var(--First-Color);
    margin: 0;
    padding: 0;
    text-align: center;
}

/*H E A D I N G */
  .heading  {
    font-family: 'Neuropol', sans-serif;

  }

  .heading a {
    font-size: 3rem
  }

  @media (min-width: 769px) {
    .heading a {
      font-size: 5rem;
    }
    
  }


  .heading .sub_heading {
    font-size: 2rem;
    display: block;
    text-align: start;
    text-transform: uppercase;
  }

  .heading .heading_bett {
    position: relative;
  }
  .heading_bett::after {
    content: '..';
    display: block;
    position: absolute;
    color: black;
    top: -5px;
    left: 30%;
  
    color: inherit;
  }

  @media (min-width: 769px) {
    .heading_bett::after {
      top: -15px;
      left: 1rem;
    }
  }


  h2, h3 {
    font-size: 2.5rem;
    color: var(--Third-Color);
  }

  h3 {
    color: var(--Second-Color);
    font-size: 1.5;
    font-weight: 600;
  }

p, button, a, li {
    font-family: 'Alata', sans-serif;
    color: rgb(222, 206, 206);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
   
}
p {
  color: var(--Para-Color);
}
a, li {
  font-family: 'Advent Pro', sans-serif;
}
@media (min-width: 769px) {
    .heading {
        font-size: 4rem;
    }
    
}
.heading {
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: rgb(222, 206, 206);
}


/**BUTTON**/

.button {
    margin-top: 1rem;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.722) 1px 2px 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    background-color: initial;
    background-position: 0 0;
    border: none;
    }

    .button:hover,
    .button:active {

    background: var(--First-Color);
    }

    .button:active {
    opacity: .5;
    }


    .button a {
      font-family: 'Alata', sans-serif;
    }

    .button_images {
      margin-top: -15px;
    }

    /*HERO MENU*/

    
.hamburger {
    position: relative;
    z-index: 100;
    padding: 4px;
    border: black solid 1px;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    border: none;
  }
  .closeIcon {
    display: none;
  }
  .menu {
    position: fixed;
    transform: translateY(-120%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.756);
    color: white;
    list-style: none;
    padding-top: 4rem;
    transition: all .5s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .showMenu {
    transform: translateY(0);
    margin: 0;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
  
  .menuItem {
    font-weight: 100;
    font-size: 3rem;
    transition: all .4s ease-in-out;
    
  
  }
  
  .menuItem:hover {
    font-size: 5rem;
    padding: 15px;
    border-radius: 15px;
    font-weight: 600;
   
  }
  
  
  .container {
    display: inline-block;
    cursor: pointer;
    
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(222, 206, 206);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  
  