

@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

.hero {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat ;
  background-size: cover;
  padding-top: 5rem;
  background-color: rgb(232,218,218);
  padding-bottom: 5rem;
}

.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


.heading-hero {
    width: fit-content;
    line-height: 0.80;
    padding: 15px;
    font-family: 'Marmelad', sans-serif;
    border-radius: 15px;
    font-weight: 700;
    text-align: left;
    color: rgb(40,40,40);
    font-size: 3rem;
    text-align: center;
}


.heading-hero span {
    color: var(--First-Color);
    font-weight: 800;
    display: block;
    background: -webkit-linear-gradient(var(--First-Color), var(--Second-Color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 769px) {
  .heading-hero span {
    display: inline;
  }
}

.image__container {
  
  width: 30rem;
  height: 25rem;
  border-radius: 15px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  background-color: white;
  
}

@media (min-width: 769px) {
  .image__container {
    width: 45rem;
    height: 35rem;
  }
}
.hero__image {
  display: block;
  background-color: white;
  padding: 15px 15px 60px 15px;
  transition: all .4s ease-in;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  


}



.hero__image:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

