
.hero {

  position: relative;
  color: var(--color-white, #fff);
  background: rgb(222, 206, 206);
  padding-bottom: 2rem;
  z-index: 1;
}

.hero__content {
  width: 100vw;
  min-height: 100vh;
  padding: 0 1.5em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  
}

.hero__heading {

    line-height: 0.80;
    border-radius: 15px;
    font-weight: 700;
    text-align: left;
    color: rgb(40,40,40);
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
}

.hero__heading span {
    color: var(--First-Color);
    font-weight: 800;
    display: inline;
    background: -webkit-linear-gradient(var(--First-Color), var(--Second-Color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.image__container {

  width: 80%;
  min-height: 15rem;
  position: relative;
  padding: 25px;
  display: flex;
  justify-content: center;
}

/* for tablets */
@media (min-width: 600px) {
  .image__container {
    height: 30rem;
  }
}

@media (min-width: 899px) {
  .image__container {
    height: 35rem
  }
}

.image {
  position: absolute;
  overflow: hidden;
  display: block;
  width: 100%;
  height: fit-content;
  object-fit: contain;
  transition: opacity 1s ease;
  opacity: 0;
  border-radius: 15px;
  border: 10px solid white;

}

@media (min-width: 899px) {
  .image {
    height: 100%;
    width: 70%;
    object-fit: cover;
  }
}

.active {
    opacity: 1;
}
