---
import Layout from "../../layout/Layout.astro";
import Styles from "../../styles/apartment.module.css";
import ApartmentItem from "../../components/ApartmentItem.astro";

import { apartmentContent } from '../../data/data.js'

import { getLangFromUrl, useTranslations } from '../../utils/functions';

const lang = getLangFromUrl(Astro.url);

---	

	<Layout pageTitle = {'Apartment'}>
		<main class={Styles['apartment']}>

			{
				apartmentContent.map((apartment) => 	(
					<ApartmentItem
						name = {apartment[lang]?.name}
						description = {apartment[lang]?.description}
						images = {apartment[lang]?.images}
					/>
				))
			}


		</main>
	</Layout>


