---
import Layout from "../../layout/Layout.astro";
import {ImpressumContent} from '../../data/data'
import { getLangFromUrl } from '../../utils/functions';

const lang = getLangFromUrl(Astro.url);
---

	<Layout pageTitle = {'Prenzlauer Berg'}>
		<main>

			<h1>{ImpressumContent[lang]?.title}</h1>
			<p set:html={ImpressumContent[lang]?.content}></p>
		
		</main>
	</Layout>

	<style>
		@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

		main {
			
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			min-height: calc(80vh - 40px);
			font-family: 'Marmelad', sans-serif;
			width: 80%;
			margin: 0 auto;
		}

	</style>