---
import Hero from "../../layout/Hero.astro";
import Layout from "../../layout/Layout.astro";
import Description from "../../layout/Description.astro";
import {heroContent, descriptionContent} from '../../data/data.js'

---

	<Layout pageTitle = {'Prenzlauer Berg'}>
		<main>
			<Hero 
				content={heroContent['en']}
			/>
			<Description
				content={descriptionContent['en']}
			/>
		</main>
	</Layout>