---
import Prenzlauer from "../../components/Prenzlauer.astro";
import Layout from "../../layout/Layout.astro";
import { getLangFromUrl } from "../../utils/functions";
import { PrenzlauerContent } from "../../data/data";

const lang = getLangFromUrl(Astro.url);

const images = ['franks-16', 'franks-17', 'franks-18', 'franks-19'];

const recommendations = [
	{name: 'NEO 1', icon: '/food.png'},
	{name: 'Café Dodo Coffee & Gelato', icon: '/eis.png'},
	{name: 'Cafe Bäckerei Özzy', icon: '/bakery.png'},
	{name: 'Bu Kon', icon: '/food.png'},
	{name: 'Zweistrom', icon: '/street-food.png'},
]


---

<style>

	@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

	h1, h2 {
		font-family: 'Marmelad', sans-serif;
	}
	h1 {
		font-size: 3.3em;
	}
	h2 {
		font-size: 2.8em;
	}

	.main {
		display: flex;			
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 2rem;
		min-height: calc(70vh - 40px);
		padding: 5rem 5rem;
		
		background-color: rgb(232,218,218);
	}
	.images__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 10px;
		width: 90%;
	}

	@media ( min-width: 769px) {
	.images__container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	
			}
		}
	.img__container {
		flex-basis: 295px; 
		box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	}
	.img__container img {
		object-fit: cover;
		max-width: 100%;
		height: auto;
		vertical-align: middle;
		border-radius: 5px;
		cursor: pointer;
	}

	.recommendations {
		margin-top: 5rem;
	}
	.items__container {
		display: flex;
		flex-direction: column;
		
	}

	@media (min-width: 769px) {
		.items__container {
			flex-direction: row;
			margin-top: 2rem;
			gap: 5rem;
		}
	}

	.item__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
	}
	.item__container img {
		width: 5rem;
	}




</style>

	<Layout pageTitle = {'Prenzlauer Berg'}>
		<main class="main">
			<h1>Prenzlauer Berg</h1>
			<p>{PrenzlauerContent[lang]?.intro}</p>

			<div class="images__container">
				{
					images.map((item) => (
					<div class="img__container">
						<img src={`/around/${item}.jpg`} alt="wohnraum foto">
					</div>
					))
				}
				
			</div>

			<section class="recommendations">
				<h2>{PrenzlauerContent[lang]?.heading}</h2>

				<div class="items__container">	

					{
					recommendations.map((item) => (
					<div class="item__container">
						<img src={ '/recommendations' + item.icon} alt="food foto">
						<p>{item.name}</p>
					</div>
					))

					}


				
				</div>

			</section>
		</main>
		
	</Layout>


