---
import Layout from "../layout/Layout.astro";
---

	<Layout pageTitle = {'Apartment'}>
		<main class="main">
            <h1>UNSERE WOHNUNG</h1>

			<div class="apartment_Container">
				<a href="#wohnraum">Wohnräume</a>
				<a href="#küche">Küche</a>
				<a href="#bad">Bad</a>
				
			</div>

			<div class="room_container" id="wohnraum">
				<div></div>
				<h2>Wohnräume</h2>
				<p>
					Die hohen Stuckdecken und gepflegten Holzfußböden in den Wohn- und Schlafräumen sorgen für eine freundliche Atmosphäre und sind mit einer weiten Flügeltür verbunden.

					Neben dem komfortablen Doppelbett im Schlafzimmer steht Euch ein bequemes Schlafsofa für zwei Personen im Wohnzimmer zur Verfügung.
				</p>
				<div class="room_container-images">
				
					<div class="images_container" ><img src="./franks-5.webp" alt="wohnraum foto"></div>
					<div class="images_container"><img src="./franks-1.webp" alt="wohnraum foto"></div>
					<div class="images_container"><img src="./franks-10.webp" alt="wohnraum foto"></div>
					<div class="images_container"><img src="./franks-9.webp" alt="wohnraum foto"></div>
				</div>
			</div>


			<div class="room_container" id="küche">
				<div></div>
				<h2>Küche</h2>
				<p>
					Die Küche mit Spüle, Herd, Geschirrspüler und Kühlschrank ist komplett für Selbstversorger ausgestattet.

					Die Basics Kaffee,Tee, Kakao und Müsli 
					sind inklusive.
				</p>
				<div class="room_container-images">
				
					<div class="images_container" ><img src="./küche/hc_015.jpg" alt="wohnraum foto"></div>
					<div class="images_container"><img src="./küche/hc_016.jpg" alt="wohnraum foto"></div>
					<div class="images_container"><img src="./küche/hc_017.jpg" alt="wohnraum foto"></div>
					<div class="images_container"><img src="./küche/hc_018.jpg" alt="wohnraum foto"></div>
				</div>
			</div>

			<div class="room_container" id="bad">
				<div></div>
				<h2>Bad</h2>
				<p>
					Das moderne Bad ist neu gefliest und mit Dusche und WC ausgestattet.

					Handtücher liegen für Euch bereit.
				</p>
				<div class="room_container-images">
				
					<div class="images_container" ><img src="./bad/hc_020.jpg" alt="wohnraum foto"></div>
					<div class="images_container"><img src="./bad/hc_021.jpg" alt="wohnraum foto"></div>
					<div class="images_container"><img src="./bad/hc_022.jpg" alt="wohnraum foto"></div>
				</div>
			</div>

		</main>
	</Layout>


<style>
	html {
		scroll-behavior: smooth;
	}
	.main {
		margin-bottom: 2rem;
	}
	.apartment_Container {
		display: flex;
		text-align: center;
		justify-content: center;
		gap: 1rem;
		margin-bottom: 1rem;
		
	}
	.apartment_Container a {
		color: black;
		font-size: 2rem;
		cursor: pointer;
		transition: all ease-in-out .2s;
		border-bottom: none;
	}
	.apartment_Container a:hover {
		border-bottom: 1px solid var(--Second-Color);
	}	

	@media (min-width: 769px) {
		.room_container {
		height: 100vh;
	}
	}

	.room_container p {
		color: rgb(42, 40, 40);
		text-align: center;
	}
	.room_container-images {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 10px;
		align-items: center;
		
		
	}

	@media ( min-width: 769px) {
		.room_container-images {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 auto;
				

		}
	}

	.images_container {
		
  		flex-basis: 350px; 
		width: 350px;

	}
	/* @media ( min-width: 769px) {
		.images-container {
			width: auto;
			flex-basis: 0; 
		}
	} */

	.images_container img {
		object-fit: cover;
		max-width: 100%;
		height: auto;
		vertical-align: middle;
		border-radius: 5px;
		cursor: pointer;
	}

	@media ( min-width: 769px) {
		.images_container img {
			height: 30rem;
			object-fit: cover;

			
		}
	}

	
</style>