---
import Hero from "../layout/Hero.astro";
import Layout from "../layout/Layout.astro";
import Description from '../layout/Description.astro';
---

	<Layout pageTitle = {'Prenslauer Berg'}>
		<main>
			<Hero/>
			<Description/>
		</main>
	</Layout>