---
import Hero from "../layout/Hero.astro";
import Layout from "../layout/Layout.astro";
import ApartmentSection from '../layout/ApartmentSection.astro'
---

	<Layout pageTitle = {'Prenslauer Berg'}>
		<main>
			<Hero/>
			<ApartmentSection/>
		</main>
	</Layout>