---
import Layout from "../layout/Layout.astro";
---

	<Layout pageTitle = {'Massage'}>
		<main class="massage_main">
            <h1 class="massage_heading">Massage </h1>
			

			<div class="container">
				<h2 class="geschichte">Unsere Geschichte</h2>
				<div class="geschichte_content hide">
					<p>Ich lebe seit 1996 in Berlin un bin seit dieser Zeit im Gesundheits- und Sozialwesen tätig.</p>
					<p>
						Nachdem ich im Jahr 2000 die Ausbildung zum staatlich anerkannten Heilererziehungspfleger absolviert hatte, arbeitete ich als Sozialarbeiter mit psysich kranken Erwachsenen und anschließend im betreuten Jugendwohnen als WG-Berater. Da ich sehr gerne mit und am Menschen arbeite, spezialierte ich mich danach auf Massagen und dierekte Körperhaltung.
					</p>
				</div>

			</div>
			<div class="container">
				<h2 class="geschichte">Massagen</h2>
			<div class="hide">
				<div class="massagen_container ">
					<div class="massage">
						<h3>Holistiche Massagen</h3>
						<p>"Holistisch" bedeutet ganzheitlich. Gemeint ist damit die Einheit von Körper und Geist. Ein holistisches Massagekonzept verdeutlich dem Behandelnden, dass er über dn Köroper uach die seelische Ebene seines Partnes berührt.</p>
						<p>
						Der Masierende berührt den ganzen Menschen von Kopf bis Fuß und bewirkt bei seinem Partner ein Wechselbad unterschiedlichster Emotionen.
						</p>
	
						<div class="massage_preis">
							<p>30 min - <span>30$</span></p>
							<p>45 min - <span>45$</span></p>
							<p>60 min - <span>60$</span></p>
							<p>90 min - <span>90$</span></p>
						</div>
					</div>
	
					<div class="massage">
						<h3>Thai Massagen</h3>
						<p>
							Die Thai-Massage besteht aus passiven, dem Yoga entnommenen Streckpositionen und Dehnbewegungen, Gelenkmobilisationen und Druckpunktmassagen. Vereinfacht kann sie daher als Kombination aus (passivem) Yoga und Akupressur zusammengefasst werden.
						</p>
	
						<div class="massage_preis">
							<p>85 min - <span>85$</span></p>
							<p>45 min - <span>45$</span></p>
							<p>60 min - <span>60$</span></p>
							<p>90 min - <span>90$</span></p>
						</div>
					</div>
				</div>
	
				</div>

			</div>
			

			<div class="container">
				<h2 class="geschichte">Kontakt</h2>
			<div class="hide">
				<div>
					<p>Für Reservierungen und Informationen kannst uns wie folgt kontaktieren:</p>
					<div class="massagen_container">
						<p class="massage_kontakt">Mobil: 0177 299 5212</p>
						<p class="massage_kontakt">frank@massage-deluxe.com</p>
					</div>
				
				</div>
			</div>
			

			</div>
			
		</main>
	</Layout>

	<style>
		.massage_main {
			overflow-y: hidden;
			text-align: center;
			display: flex;
			flex-direction: column;
			
			justify-content: center;
			
			
		}

		/**utils */
		.container {
			width: 80%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			text-align: center;
			
		}

		.hide {
			
			opacity: 0;
			height: 0;
			overflow: hidden;
			transition: all 3s ease-out;
				
			}
		.show {
			transition: all 3s ease-out;
			opacity: 1;
   			height: auto;
			overflow: auto;

			
			}

		.active {
			font-weight: 900;
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			
		}

		.massage_heading {
			position: relative;
			font-size: 5rem;
		
		}

		.massage_heading::after {
			content: 'Deluxe';
			font-family: cursive;
			font-weight: 100;
			font-size: 1rem;
			display: block;
			margin-bottom: 2rem;
			color: var(--Third-Color);
			
		}
		.massagen_container {
			display: flex;
			flex-direction: column;
			width: 80%;
			
			gap: 2rem;
			margin: 15px 0px;
			margin: 0 auto; */
			
		}
		.massage {
			box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
			padding: 8px 12px;
			border-radius: 45px;
		}
		.massage_preis {
			display: flex;
			text-align: center;
			justify-content: center;
		}
		.massage_preis p, .massage_kontakt {
			background-color: var(--First-Color);
			padding: 5px;
			margin: 2px;
			border-radius: 45px;
			color: rgb(243, 236, 236);
			box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
			font-weight: 200;
		}
		.massage_preis span {
			font-weight: 600;
		}


		@media (min-width: 769px) {

			.massage_heading {
				font-size: 20rem;
				
			
			}
			.massage_heading::after {
				font-size: 1.5rem;
				position: absolute;
				top: 85%;
				left: 80%;

			}
			.massagen_container {
				flex-direction: row;
				justify-content: center;
				align-items: center;


			}
			
			
		}
	
	</style>

	<script>

		const geschichteButtons = document.querySelectorAll('.geschichte');
		geschichteButtons.forEach((button) => {
			const nextElement = button.nextElementSibling;
			
			button.addEventListener('click', (e) => {
				
				changeHideShow(nextElement)
			})
		})

	
		
	
		function changeHideShow(nextEle) {
			if(nextEle.classList.contains('hide')){
				nextEle.classList.remove('hide');
				nextEle.classList.add('show')
			} else {
				nextEle.classList.add('hide');
				nextEle.classList.remove('show')

			}	
		}
		
	</script>