---
import '../styles/apartment.css'
const { name, description, images, subname } = Astro.props

---
<div class='room__container'>

    
    <h2 class='apartment__name'>{name}</h2>
    {subname && <h2>{subname}</h2> }
    <p set:html={description}></p>
    <div class='room__container--images'>

        {
            images.map((item) => (
            <div class='images__container'>
                <img loading="lazy" src={item} alt="wohnraum foto">
            </div>
            ))
        }
    </div>
</div>