---
const arrayImages = ['hc_001', 'hc_002', 'hc_003', 'hc_008', 'hc_011', 'hc_025'];
const bye = 'Adios';
---








  <div class="media-scroller snaps-inline">
    <>
   

      {
       

     
      arrayImages.map(e => {
        return (
            <div class="media-element">
            <img class="media-element_img" src={'./' + e + '.jpg'} alt="element">
            
          </div>
        )
      })
      }
    <>

  </div>

