
<section>


    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2426.4679455149576!2d13.418275076599489!3d52.543059972067226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84dffb0fd53df%3A0xb4f73c7bb736b0da!2sDunckerstra%C3%9Fe%2080A%2C%2010437%20Berlin!5e0!3m2!1sde!2sde!4v1686150226557!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    
    

</section>

<style>
    iframe {
        margin: 0;
        
    }
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-bottom: 2rem;
    }
</style>