---
import '../styles/map.css';
import { mapSource } from '../data/data';
---


<section 
    class='map'>
    <iframe 
        class='map__element' 
        src={mapSource} 
        width="600" 
        height="450" 
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    
    

</section>

