---
import { getLangFromUrl, useTranslations } from '../utils/functions.js';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang)



---

<ul class="menu">
        <li><a rel="prefetch" class="menuItem" href={`/${lang}/apartment`}>{t('nav.apartment')}</a></li>
        <li><a rel="prefetch" class="menuItem" href={`/${lang}/umgebung/`}>{t('nav.prenzlauerBerg')}</a></li>
        <li><a rel="prefetch" class="menuItem" href={`/${lang}/kontakt/`}>{t('nav.kontakt')}</a></li>
  </ul>


  <script src="../helpers/menu.js"></script>
