

    <ul class="menu">
        <li><a class="menuItem" href="/apartment">Apartment</a></li>
        <li><a class="menuItem" href="/umgebung">Prenzlauer Berg</a></li>
        <li><a class="menuItem" href="/kontakt">Kontakt</a></li>
  </ul>

  <script src='../helpers/Menu.js'></script>
