
  .mediaScroller {
    --_spacer: var(--size-3);
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: row;
    grid-auto-columns: 100%;

    padding: 0 var(--_spacer) var(--_spacer);

    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }
  .mediaScroller::-webkit-scrollbar {
    width: 15px;
   
  }
  .mediaScroller::-webkit-scrollbar-track {
    background-color: rgba(169, 169, 169, 0.397);
  }
  .mediaScroller::-webkit-scrollbar-thumb {
    background-color: var(--Second-Color);
    cursor: pointer;
  }
  @media (min-width: 769px) {
    .mediaScroller {
      grid-auto-columns: 15%;
      grid-auto-flow: column;
    }
  }

  .media-scroller--with-groups {
    grid-auto-columns: 80%;
  }

  .media-group {
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
  }

  .mediaElement {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--_spacer);
    padding: var(--_spacer);
    background: var(--surface-2);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    cursor: pointer;


    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    
  }


  .mediaImage {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    position: relative;
  }

  .snapsInline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
  }

  .snapsInline > * {
    scroll-snap-align: start;
  }


  .OverlayImage {
    width: 100%;
    max-width: 400px;
    height: auto;
    
  }

