---
import "../../styles/apartment.css";

import Layout from "../../layout/Layout.astro";
import ApartmentItem  from "../../components/ApartmentItem.astro";
import { apartmentContent } from '../../data/data.js'
import { getLangFromUrl, useTranslations } from '../../utils/functions';
import Grundriss from "../../components/Grundriss.astro";



const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);


---	

	<Layout pageTitle = {'Apartment'}>
		
		<main class='apartment'>
			{
				apartmentContent.map((apartment) => 	(
					
					<ApartmentItem
						name = {apartment[lang]?.name}
						description = {apartment[lang]?.description}
						images = {apartment[lang]?.images}
						subname = {apartment[lang]?.subname}
					/>
				))
			}
			<Grundriss/>


		</main>

	</Layout>


