---
import Layout from "../../layout/Layout.astro";
import Description from "../../layout/Description.astro";
import Calender from "../../components/Calender.jsx";
import { getLangFromUrl, useTranslations } from '../../utils/functions';
import Hero from '../../components/Hero'
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);


---

	<Layout pageTitle = {'Prenzlauer Berg'}>
		<main>
			<Hero 
				client:load
				content={t('hero')}
			/>
			<Description 
				content = {t('description')}
			/>
			
		</main>
	</Layout>