---
import Layout from "../../layout/Layout.astro";
import Styles from "../../styles/contact.module.css";

---

	<Layout pageTitle = {'Buchungen'} >
		<main class={Styles['main']}>
			<h1>Kontakt</h1>
			<div class="container">
				

			<div>
				
				<h2>Adresse:</h2>

				<p>
					franks apartment
					Frank Hüllmandel
					Dunckerstrasse 80A
					10437 Berlin - Germany
				</p>
				
			</div>
			<div>
				<h2>Telefon:</h2>
				<p>
					Festnetz: +49 (0)30. 91704776
					Mobil: +49 (0)177. 2995212
				</p>

			</div>

			<div class={Styles['span']}>
				<p>
					Für eine Buchungsanfrage schickt uns bitte eine E-Mail an <span>info@franksberlin.com</span> oder ruft uns an
					<span>Festnetz 030. 91704776 Mobil unter 0177. 2995212</span>
				</p>

			</div>

			</div>
            
			
		</main>
	</Layout>
