---
import  '../../styles/prenzlauer.css';
import Layout from "../../layout/Layout.astro";
import { getLangFromUrl } from "../../utils/functions";
import { 
	PrenzlauerContent, 
	imagesPrenzlauerBerg,
recommendationsPrenzlauerBerg, 
} from "../../data/data";

import Recommendations from '../../components/Recommendations.astro';

const lang = getLangFromUrl(Astro.url);

---


	<Layout pageTitle = {'Prenzlauer Berg'}>
		<main class="main">
			<h1>Prenzlauer Berg</h1>
			<p>{PrenzlauerContent[lang]?.intro}</p>

			<div class="images__container">
				 {
					imagesPrenzlauerBerg.map((item) => (
					<>
						<div class="img__container">
							<img src={`/around/${item}.jpg`} alt="wohnraum foto">
						</div>
					</>
					))
				}
				
			</div>

			<Recommendations heading="Empfehlungen"/>

		</main>
		
	</Layout>


