---
import Carousel from "../components/Carousel/Carousel";

---
<section class="appartment">
    <h1>Willkommen bei franks apartment im bunten und weltoffenen Kiez <span>Prenzlauer Berg.</span></h1>
    <p>Auf 70m² findet Ihr ausreichend Platz für bis zu vier Personen. Das liebevoll eingerichtete Apartment ist komplett für Selbstversorger ausgestattet und hat allen Komfort. Für Euer Wohlbefinden bietet Euch Frank Massagen direkt im Haus an.</p>
    
    <div class="appartment_container">
            <Carousel client:only/>
    </div>
    <div class="massage">
        <p>Für Euer Wohlbefinden bietet Euch Frank <span><a href="/massage">Massagen</a></span> direkt im Haus an.</p>
    </div>
       
    </div>
</section>

<style>
        .appartment {
            width: 90%;
            margin: 0 auto;
        }
        .appartment h1 {
           font-size: 2rem;
           margin-top: 2rem;
           color: var(--Second-Color);
        }
        @media (min-width: 769px) {
            .appartment h1 {
                font-size: 3rem;
            }
        }
        .appartment span {
            color: var(--First-Color);
           
        }
        .appartment p {
            color: #373434;
            font-size: 1.3rem;
            text-align: center;
            font-weight: 300;
        }

        @media (min-width: 769px) {
            .appartment p {
                font-size: 1.5rem;
            }
        }
        .appartment .massage {
            padding: 2rem;

        }
        .appartment .massage a,
        .appartment .massage span {
            text-decoration: none;
            color: var(--First-Color);
            font-size: 1.5rem;
            font-family: 'Alata', sans-serif;

            
        }
</style>