---
import Carousel from '../components/Carousel'
import  '../styles/description.css'

const {content} = Astro.props;

---
<section class="apartment">
    <h1 set:html={content.heading}></h1>
    <p set:html={content.description}></p>
    <div>
        <Carousel client:only/>
    </div>
    <div class='massage'>
        <p set:html={content.massage}></p>
       
    </div>
    
       
    </div>
</section>
