---
import Carousel from '../components/Carousel/Carousel'

import '../styles/global.css'
import Styles from '../styles/description.module.css'

---
<section class={Styles.appartment}>
    <h1>Willkommen bei franks apartment im bunten und weltoffenen Kiez <span>Prenzlauer Berg.</span></h1>
    <p>Auf 70m² findet Ihr ausreichend Platz für bis zu vier Personen. Das liebevoll eingerichtete Apartment ist komplett für Selbstversorger ausgestattet und hat allen Komfort. Für Euer Wohlbefinden bietet Euch Frank Massagen direkt im Haus an.</p>
    
    <div>
        <Carousel client:only/>
    </div>
    <div class={Styles.massage}>
        <p>Für Euer Wohlbefinden bietet Euch Frank <span><a href="/massage">Massagen</a></span> direkt im Haus an.</p>
    </div>
       
    </div>
</section>
