---

---

<footer class="footer footer-size">
    <p>
        Franks Apartment | Frank Hüllmandel | Telefon: +49 (030) 91704776 | E-Mail: info@franksberlin.com | Anfahrt | Impressum
    </p>
    
</footer>