---

import { getLangFromUrl, useTranslations } from '../utils/functions.js';
import {footerContent} from '../data/data.js'

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);


---

<footer class="footer">
    <p class="footer__para" set:html={footerContent[lang]?.para}></p>
</footer>
