---

---

<footer class="footer footer-size">
    <p class="footer_para">
        Franks Apartment | Frank Hüllmandel | Telefon: +49 (030) 91704776 | E-Mail: info@franksberlin.com | Anfahrt | Impressum
    </p>
</footer>

<style>
    .footer_para {
        color: rgb(210, 205, 205);
    }
</style>