---

---


<header class="header">
    <h1 class="heading"><a class="heading" href="/">franks apartment</a></h1>

    <ul class="menu">
      <li><a class="menuItem" href="/apartment">Apartment</a></li>
      <li><a class="menuItem" href="/massage">Massage</a></li>
      <li><a class="menuItem" href="/buchung">Buchungen</a></li>
    </ul>
    <button class="hamburger">
      <div class="container">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </button>
  </header>


<style>

h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

* {

  box-sizing: border-box;
}


 

</style>

<script>

const menu = document.querySelector(".menu");
const menuItems = document.querySelectorAll(".menuItem");
const hamburger= document.querySelector(".hamburger");
const closeIcon= document.querySelector(".closeIcon");
const menuIcon = document.querySelector(".menuIcon");
const containerButton = document.querySelector('.container')

function toggleMenu() {
  if (menu.classList.contains("showMenu")) {
    containerButton.classList.toggle("change");
    menu.classList.remove("showMenu");
    closeIcon.style.display = "none";
    menuIcon.style.display = "block";
    
  } else {
    menu.classList.add("showMenu");
    containerButton.classList.toggle("change");
    closeIcon.style.display = "block";
    menuIcon.style.display = "none";
   
  }
}

hamburger.addEventListener("click", toggleMenu);
menu.addEventListener('click', () => {
  if (menu.classList.contains("showMenu")) {
    containerButton.classList.toggle("change");
    menu.classList.remove("showMenu")
  }
} )


</script>