---
import HamburgerButton from "../components/HamburgerButton.astro";
import Nav from "../components/Nav.astro";

---


<header class="header" >
    <h1 class="heading">
      <a class="heading" href="/">
        fra<span class="heading_bett">n</span>ks<span class="sub_heading">apartment</span>
      
      </a>
    
    </h1>

      <Nav/>
      <HamburgerButton/>
  </header>


<script src="../helpers/menu.js">
</script>
