---
import HamburgerButton from "../components/HamburgerButton";
import Nav from "../components/Nav";

---


<header class="header" >
    <h1 class="heading">
      <a class="heading" href="/">
        fra<span class="heading_bett">n</span>
        ks <span class="sub_heading">apartment</span>
      
      </a>
    
    </h1>

      <Nav/>
      <HamburgerButton/>
  </header>



<style>
* {box-sizing: border-box}

</style>

<script src='../helpers/Menu.js'></script>
